body, ul, li{
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.wrapper ul * {
  transition: 0.4s ease-in-out;
}

.wrapper li {
  float: left;
  overflow: hidden;
}

.wrapper li a {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.wrapper li a img {
  position: absolute;
}